img {
    transition: all 0.15s linear;
    position: relative;
    top: 1px;
    left: -15%;
    filter: brightness(75%);
  
}

img:hover{
    transform: scale(1.1);
}

.btn {
margin-left: 12px;
margin-top: 10px;
}